@import 'reset';
//1rem = fontsize px
//1px= (1/fontsize)rem
$fontsize: 37.5;
@function px2rem($px){
    @return ($px/$fontsize) + 'rem';
}

@mixin center(){
    display : flex;
    justify-content : center;
    align-items : center;
}